*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%
}
body {
  background-color: #111;
  scroll-behavior: smooth;
}

#string{
    width: 100%;
    height: 200px;
    display: flex;
}

#string svg {
    cursor: pointer;
}